<meta charset="utf-8">
<!doctype html>
<html lang="en">
  <head>
    <title>website iseng </title>
    <link rel="stylesheet" href = "{{url_for('static', path='/edit.css') }}" />
  </head>

  <body>
    <!--CONTAINER-->
    <div class="fcontainer">

      <!-- WRAPPER -->
      <nav class="wrapper">
        
        <!--BRAND-->
        <div class = "brand">
          <div class = "firstname">WEBSITE</div>
          <div class  ="lastname">ISENG</div>
        </div>

      <!--NAVIGATION-->
        <ul class = "navigation">
          <li><a href="/" > HOME</a></li>
          <li><a href="/WPAGE" > W PAGE</a></li>
          <li><a href="/" >ABOUT ME</a></li>
        </ul>

      </nav>

      <!--CONTENT-->
      <div class="content">
        <h1>SELAMAT DATANG DI WEBSITE ISENG</h1>
        <p>WEBSITE INI MASIH TAHAP ALPHA</p>
      </div>

    </div>

  </body>

</html>